<li class="nav-item <%= active?(posts_path) %>">
  <%= link_to "Time Entries", posts_path, class: "nav-link" %>
</li>

<li class="nav-item <%= active?(posts_path) %>">
  <%= link_to "Request OT", new_post_path, id: "new_post_from_nav", class: "nav-link" %>
</li>