@import "posts.scss";
// imported BS in JS so webpack handles it. see if it works
// these are from excid3's template, see how they look
// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap/dist/css/bootstrap';

@media print {
    body {
        zoom: .8
    }
}

.custom-nav {
    margin-top: 15px;
}

#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(135, 216, 211, 0.85);
    .alert, .notification {
        padding: 2.5rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 1px;
    }
}